<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Login Success</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>

<body>
	<div style="max-width: 400px; margin: 0 auto;">
		<h1>Success Login </h1>
		<h1>Welcome <b th:inline="text" class="user" th:text="${httpServletRequest.getRemoteUser}"> </b></h1>
		<form th:action="@{/}" >
			<input type="submit" value="Home" />
		</form>
	</div>
</body>

</html>